%header
  / Fixed navbar
  %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    .container
      = link_to "Aplicacion A", root_path, class: "navbar-brand"
      %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active= link_to "Inicio", root_path, class: "nav-link"
